@font-face {
  font-family: "Raleway";
  font-weight: 400;
  font-display: auto;
  src: url("./Raleway-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  font-display: auto;
  src: url("./Raleway-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-weight: 500;
  font-display: auto;
  src: url("./Raleway-Medium.woff2") format("woff2");
}
